h1 {
    color: red;
    align-self: center;

}
/* display: block;
text-decoration: none;
margin-bottom: 20px;
} */

.img {
    position: center;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}