.line-number {
    box-sizing: border-box;
    width: 31px;
    background-color: rgb(240, 240, 240);
    user-select: none;
    text-align: right;
    color: rgb(128, 128, 128);
    word-break: normal;
    white-space: nowrap;
    font-size: 9px;
    font-family: Helvetica;
    padding: 0px 4px !important;
    border-right: 1px solid rgb(187, 187, 187) !important;
}
user agent stylesheet
td {
    display: table-cell;
    vertical-align: baseline;
    padding: 0px !important;
}
user agent stylesheet
table {
    border-collapse: separate;
    white-space: pre-wrap !important;
    line-height: normal;
    font-weight: normal;
    font-size: initial;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    word-break: break-word;
    font-family: monospace;
    tab-size: 4;
    border-spacing: 0px;
    font-variant: normal;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
user agent stylesheet
.line-number::before {
    content: attr(value);
}